<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/add_tweet">
     <div>
        <label>Title</label>
        <div class="input-group">
            <input type="text"  name="Title">
            </div>
    </div>
    <div>
        <label>Text</label>
        <div class="input-group">
                <input type="text"  name="Text1">
            </div>
        </div>
     <div>
        <input type="submit" />
    </div>
</form>
</body>
</html>